#sidebar
{
    width: 275px;
    height: 100vh;
    background-color: #242526;
    position: sticky;
    top: 0;
    float: left;
}

#sidebar h1
{
    width: 100%;
    padding: 15px 0;
    color: #FF3333;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

#sidebar h1::before
{
    content: "YourVideo";
}

#sidebar a
{
    width: 100%;
    margin-bottom: 5px;
    padding: 15px 30px;
    display: block;
}

#sidebar a:hover
{
    background-color: #353637;
}

#sidebar #active
{
    background-color: #353637;
    color: #FF3333;
}

#sidebar i
{
    margin-right: 8px;
}

#content
{
    width: calc(100% - 275px);
    padding: 0 30px;
    float: left;
}

#content #header
{
    width: 100%;
    padding: 20px 0;
}

#content #header h1
{
    margin: 0 !important;
    font-size: 26px;
}

#content #header img
{
    margin-right: 8px;
    border-radius: 50%;
    display: inline-block;
}

#content #header span
{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    vertical-align: middle;
    display: inline-block;
}

.video
{
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid #242526;
    display: block;
}

#content .video:nth-child(2)
{
    padding-top: 0 !important;
}

#content .video:nth-last-child(1)
{
    border: 0;
}

.video img
{
    display: inline-block;
}

.video span
{
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
}

.video span h4
{
    margin: 0 0 5px 0;
    font-size: 21px;
}

.video i
{
    font-size: 13px !important;
}

#follow-form
{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#follow-button
{
    height: 36px;
    padding: 0 20px;
    background-color: #FF3333;
    color: #ffffff;
    border: 0;
}

#follow-button:hover
{
    background-color: #dd1111;
}

#unfollow-button
{
    height: 36px;
    padding: 0 20px;
    background-color: #666666;
    color: #ffffff;
    border: 0;
}

#unfollow-button:hover
{
    background-color: #555555;
}

@media (max-width: 992px)
{
    #sidebar
    {
        width: 80px;
    }

    #sidebar h1::before
    {
        content: "YV";
    }

    #sidebar a
    {
        padding: 15px 0;
        text-align: center;
    }

    #sidebar i
    {
        margin: 0;
    }

    #sidebar span
    {
        display: none;
    }

    #content
    {
        width: calc(100% - 80px);
        padding: 0 15px;
    }

    @media (max-width: 768px)
    {
        .video
        {
            width: 100%;
        }

        .video img
        {
            width: 100%;
        }

        .video span
        {
            padding: 10px 0 0 0;
        }
    }
}