#header
{
    padding: 20px !important;
    background-color: #242526;
    position: relative;
}

#header img
{
    margin-right: 6px;
    border-radius: 50%;
    display: inline-block;
}

#header span
{
    vertical-align: middle;
    display: inline-block;
}

#header h4
{
    margin: 0 !important;
    font-size: 21px;
    color: #ffffff;
}

#header i
{
    font-size: 15px !important;
}

#video
{
    width: 75%;
}

#video h3
{
    font-size: 24px;
}

#video span
{
    color: #aaaaaa;
}

video
{
    width: 100%;
    display: block;
}

#video-data
{
    width: 100%;
    padding: 20px;
    background-color: #242526;
}

@media (max-width: 992px)
{
    #video
    {
        width: 100%
    }
}